body {
    background-color: lightgrey;
}

h1 {
    color: black;
    text-decoration: underline;
    text-align: center;
    font-weight: 600;
}
h2{
    text-align: center
}

.square {
    height: 100px;
    width: 100px;
}

#square1 {
    background-color: red;
}
#square2 {
    background-color: green;
}